@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Lato:100');
body{

    overflow-x: hidden;
   
}

#slikaKrug{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-image: url("sss.png");
    background-size: cover;
    object-fit: cover;
   
}
@font-face {
    font-family: Lato;
    src: url('Lato-Hairline.ttf');
   
     }
#slika{
  text-align: center;
   padding: 30px;
  
}
#tekst{

    font-size: 230%;
    font-family: 'Lato';
    color: #000000;
    text-align: center;
   margin-bottom: 20px;
  
}
#imena{
    font-family: 'Lato';
    font-size: 700%;
    color: #363636;
   
  
  
}
#podNaslov{
    font-size: 280%;
    font-family: 'Lato';
    color: #000000;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
    font-weight: 500;
    
}
#datum{
    font-family: 'Lato';
    font-size: 200%;
    color: #000000;
    text-align: center;
  
   
}

#invitate{
  
    font-size: 170%;
    color: #b30000;
    font-family: 'Lato';
    text-align: center;
    margin-top: 30px;
    
    
}
@media only screen and (max-width: 800px) {
   
   
    #imena{
        font-size: 350%;
        line-height: 60px;
        margin-bottom: 50px;
     
    }
    #datum{
        font-size: 150%;
        padding-bottom: 70px;
       
    }
    #tekst{
        font-size: 120%;
   
    }
    #podNaslov{
        font-size: 150%;
    }
    #invitate{
        font-size: 120%;
        margin-top: -70px;
       
    }
    

}
